/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    color: #3d3536;
    background-color: white;
}
body, html {
    /* important */
    
    height: 100%;
}
a {
    color: #b4d7a8;
    text-decoration: none;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    
    width: 90%;
    max-width: 820px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    
    content: '';
    display: table;
    clear: both;
}
.cd-container h2 {
    color: white;
    font-size: 1.75em;
    font-weight: 300;
}
.highlight {
    font-size: 1.4em;
    font-weight: strong;
    color: white;
}
/* -------------------------------- 

Main components 

-------------------------------- */

.cd-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding-top: 7px;
}
.cd-header:after {
    content: "";
    display: table;
    clear: both;
}
.cd-header #cd-logo img {
    display: block;
    height: 100%;
}
@media only screen and (min-width: 768px) {
    .cd-header {
        height: 70px;
    }
    .cd-header #cd-logo {
        margin: 0px 0 0 1%;
        padding: 0.7em 0 0 0;
    }
}
.cd-main-hamburger {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 68%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    background-size: 44px 44px;
    cursor: pointer;
    position: relative;
}
.cd-main-nav {
    padding-top: 24px;
    display: none;
    position: absolute;
    right: 0;
    left: 0;
}
.cd-main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #2f292a;
    border-top: 1px solid #453c3d;
    color: #8e7d7f;
}
@media only screen and (min-width: 768px) {
    .cd-main-hamburger {
        display: none;
    }
    .cd-main-nav {
        display: block !important;
        float: right;
        position: static;
        width: auto;
        line-height: 45px;
        padding-right: 10px;
        padding-top: 0;
    }
    .cd-main-nav li {
        display: inline-block;
        margin-left: 1em;
    }
    .cd-main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
        color: #3d3536;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.875rem;
    }
    .no-touch .cd-main-nav a:hover {
        color: #99a478;
    }
}
.cd-main-content {
    /* you need to assign a min-height to the main content so that the children can inherit it*/
    
    height: 100%;
    position: relative;
    z-index: 1;
}
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    font-size: 1.875rem;
    text-shadow: 0 0px 10px whitesmoke;
    color: #CC322D;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.cd-fixed-bg.cd-bg-1 {
    background-image: url("../img/dodging-lax.jpg");
}
.cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/flyin-lax.jpg");
}
.cd-fixed-bg.cd-bg-3 {
    background-image: url("../img/lax1.jpg");
}
.cd-fixed-bg.cd-bg-4 {
    background-image: url("../img/winners.jpeg");
}
.cd-fixed-bg.cd-bg-5 {
    background-image: url("../img/womens-lax-cover-2.jpg");
}
@media (max-width: 640px) {
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 65px;
    }
}
@media (max-width: 767px) {
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 65px;
    }
}
@media (max-width: 450px) {
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 45px;
    }
}
@media only screen and (min-width: 768px) {
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 80px;
    }
    .cd-header #cd-logo {
        float: left;
        margin: 0px 0 0 1%;
        padding: 0.7em 0 0 0;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-fixed-bg {
        background-attachment: fixed;
    }
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 90px;
        /*font-weight: 300;*/
    }
}
.cd-scrolling-bg {
    position: relative;
    min-height: 100%;
    padding: 4em 0;
    line-height: 1.6;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
    background-color: #3d3536;
    color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
    background-color: #99a478;
    color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
    background-color: #b4d7a8;
    color: #3d3536;
}
@media only screen and (min-width: 768px) {
    .cd-scrolling-bg {
        padding: 8em 0;
        font-size: 1.25rem;
        line-height: 2;
        font-weight: 300;
    }
}
#mens-rules a {
    background-image: url("../img/lax5.jpg");
    background-position: -360px;
    background-position-y: -1px;
    display: block;
    height: 100%;
    width: 100%;
}
#womens-rules a {
    background-image: url("../img/womens-lax.jpg");
    background-position: -106px;
    background-position-y: 72px;
    display: block;
    height: 100%;
    width: 100%;
}
#ladies-meetup a {
    background-image: url("../img/meetup.png");
    background-position: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 85%;
    display: block;
    height: 100%;
    width: 100%;
}
#ladies-fb a {
    background-image: url("../img/facebook-logo-icon.png");
    background-position: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 77%;
    display: block;
    height: 100%;
    width: 100%;
}
#ladies-wma a {
    background-image: url("../img/wmacll.png");
    background-position: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    display: block;
    height: 100%;
    width: 100%;
}
#ladies-give a {
    background-image: url("../img/WINNERS-donate-today.jpg");
    background-origin: border-box;
    background-position: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 110%;
    display: block;
    height: 100%;
    width: 100%;
}
#open-league a {
    background-image: url("../img/open.png");
    background-position: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}
#masters-league a {
    background-image: url("../img/masters.png");
    background-position: 47%;
    background-position-y: 51%;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}
#Masters {
    padding-top: 3.8em;
}
#stars-stripes a {
    background-image: url("../img/SSLL_Seal.png");
    background-position: 52%;
    background-position-y: 49%;
    background-repeat: no-repeat;
    background-size: 205%;
    display: block;
    height: 100%;
    width: 100%;
}
#fburg a {
    background-image: url("../img/fred.png");
    background-position: 59%;
    background-position-y: 47%;
    background-repeat: no-repeat;
    background-size: 94%;
    display: block;
    height: 100%;
    width: 100%;
}
#perf-lax a {
    background-image: url("../img/perf-lax.png");
    background-position: 0%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 293%;
    display: block;
    height: 100%;
    width: 100%;
}
#md-masters a {
    background-image: url("../img/mmll-2.jpg");
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 100%;
    width: 100%;
}
#api-lax a {
    background-image: url("../img/api.jpg");
    background-position: 39%;
    background-repeat: no-repeat;
    background-size: 188%;
    display: block;
    height: 100%;
    width: 100%;
}
#hoco a {
    background-image: url("../img/hoco.png");
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 100%;
    width: 100%;
}
#redline a {
    background-image: url("../img/redline-logo.jpg");
    background-position: 48%;
    background-position-y: 49%;
    background-repeat: no-repeat;
    background-size: 87%;
    display: block;
    height: 100%;
    width: 100%;
}
#blue-gray a {
    background-image: url("../img/bluegray.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 90%;
    display: block;
    height: 100%;
    width: 100%;
}
#shootout a {
    background-image: url("../img/shootout2015.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 100%;
    width: 100%;
}
#oc-classic a {
    background-image: url("../img/oc-lax-20.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 85%;
    display: block;
    height: 100%;
    width: 100%;
}
#laxtoberfest a {
    background-image: url("../img/2014Laxtoberfest-15.jpg");
    background-position: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 90%;
    display: block;
    height: 100%;
    width: 100%;
}
/*.map {
  padding: 2em 0 0 12em;
  vertical-align: center;
}*/

#map {
    margin: 0;
    width: auto;
    height: auto;
    position: relative;
    /*border: 2px solid red;*/
}
/* -------------------------------- 

Accordion stylings

-------------------------------- */

#container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 3%;
    border-top: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}
@media only screen and (max-width: 768px) {
    #container {
        width: auto;
        margin: 0;
    }
}
.accordion label {
    display: block;
    background-color: #eeeeee;
    padding: 10px;
    color: rgba(176, 218, 212, 0.48);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #ffffff;
}
.map-label {
    color: #666666;
    font-size: 1.4em;
    font-weight: strong;
}
.accordion #map {
    color: #424242;
    padding: 300px;
    font-size: 0.8em;
    line-height: 1.7em;
    border-bottom: 1px solid #bdbdbd;
    font-family: "Roboto";
    font-style: italic;
    visibility: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    background-color: #fff;
    margin-top: 0px;
}
#tm:checked ~ .hiddentext {
    display: block;
    visibility: visible;
    opacity: 1;
}
input#tm {
    display: none;
    position: relative;
}
#tn:checked ~ .hiddentext {
    display: block;
    visibility: visible;
    opacity: 1;
}
input#tn {
    display: none;
    position: relative;
}
#to:checked ~ .hiddentext {
    display: block;
    visibility: visible;
    opacity: 1;
}
input#to {
    display: none;
    position: relative;
}
.arrow {
    color: #666666;
}
/* -------------------------------- 

Map stylings

-------------------------------- */
/* -------------
   ================================================== */
/* ===[ Bartos Lazarski ]=== */
/* ===[ Free for use / Need Dribbble invite http://dribbble.com/bartos_lazarski ]=== */
/* -------------
   ================================================== */

iframe {
    z-index: -999;
    position: absolute;
    margin: 10px;
}
/* -------------------------------- 

Hexagon stylings

-------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#lab {
    /*width: 1000px;*/
    
    width: 100%;
    overflow: hidden;
    padding-bottom: 2px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.5em;
    /*background: rgb(236, 236, 236);*/
    
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    transition: all ease 500ms;
}
h1 {
    font-family: bebas_neueregular, sans-serif;
    font-size: 1.75em;
    padding: 0.2em 0 0.2em 0.2em;
    color: white;
    text-shadow: 0 0.06em 0 #424242;
    position: relative;
}
#lab h1 {
    /*background: #B0DAD4;*/
    
    font-family: bebas_neueregular, sans-serif;
    font-size: 1.75em;
    padding: 0.2em 0 0.2em 0.2em;
    color: white;
    text-shadow: 0 0.06em 0 #424242;
    position: relative;
}

/*beaker {
  -webkit-filter: drop-shadow(#424242 0px 1px 0px);
  border-bottom: 2em solid #FFF;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-radius: .5em;
  height: 0;
  width: 1em;
  position: absolute;
  right: 0.7em;
  bottom: 22%;
  font-size: 0.6em;
}

.beaker::before {
  border-left: .25em solid #FFF;
  border-radius: .25em;
  border-right: .25em solid #FFF;
  content: '';
  height: .25em;
  left: -.25em;
  position: absolute;
  top: -1em;
  width: 1em;
}

.beaker::after {
  border-left: .25em solid #FFF;
  border-right: .25em solid #FFF;
  content: '';
  height: 1em;
  left: 0;
  position: absolute;
  top: -1em;
  width: .5em;
}*/

.sectionheader {
    position: relative;
}
.lab_item {
    width: 200px;
    height: 230px;
    position: relative;
    display: inline-block;
}
.hexagon2 {
    position: absolute;
    width: 200px;
    height: 400px;
    top: -85px;
}
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-in2 {
    -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
    box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: 125%;
    -moz-background-size: 125%;
    background-size: 125%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.hexagon-in2:hover {
    -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
    box-shadow: inset 0 0 0 0px #B0DAD4;
}
#lab article {
    padding-left: 0;
    padding-top: 1em;
    width: 100%;
    margin: 0 auto;
}
.lab_item:nth-child(7n-2) {
    margin-left: 101px;
}
.lab_item:nth-child(n+5) {
    margin-top: -55px;
}
@media (max-width: 1015px) {
    #lab {
        width: 100%;
    }
}
@media (max-width: 820px) {
    .lab_item:nth-child(5n-1) {
        margin-left: 102px;
    }
    .lab_item:nth-child(n+4) {
        margin-top: -62px;
    }
    .lab_item:nth-child(7n-2) {
        margin-left: 0px;
    }
    .lab_item:nth-child(n+5) {
        margin-top: -56px;
    }
    #lab article {
        width: 610px;
    }
}
@media (max-width: 640px) {
    #lab article {
        width: 405px;
    }
    .lab_item:nth-child(5n-1) {
        margin-left: 0px;
    }
    .lab_item:nth-child(3n) {
        margin-left: 102px;
    }
    .lab_item:nth-child(n+3) {
        margin-top: -56px;
    }
}
@media (max-width: 450px) {
    #lab article {
        width: 300px;
    }
    .lab_item:nth-child(3n) {
        margin-left: 0px;
    }
    .lab_item:nth-child(2n) {
        margin-left: 102px;
    }
    .lab_item:nth-child(n+2) {
        margin-top: -56px;
    }
}
